@page "/Camera"
@inherits BaseImagesPage
@using Billiards.Web.Shared
@using Billiards.Web.Client.Models
@using Billiards.Web.Client.Extensions
@inject IJSRuntime JsRuntime
@inject HttpClient Http
<InputFile accept="image/*" capture="environment" OnChange="@PictureTaken"></InputFile>
<br />
    Width: @screenWidthPx Height: @screenHeightPx
<br />
@Busy Size1: @imageSize1 Size2: @imageSize2 Orientation: @screenOrientation
<br />
    Resize: @resizeTime Recognize: @recognizeTime time: @time
<div id="canvas" style="position: relative; width: @screenWidthPx; height: @screenHeightPx">
    <svg id="svgContainer" viewBox="0 0 2000 1000" preserveAspectRatio="xMidYMid meet"
         style="position: absolute; top: 1px; width: @screenWidthPx; height: @screenHeightPx; z-index: 2;">
        <g transform="rotate(@rotated, 1000, 500)">

            <rect width="2000" height="1000" style="stroke: brown; stroke-width: 16; fill: green" />
            @{
                if (problems != null)
                {
                    foreach (Problem problem in problems)
                    {
                        foreach (Solution solution in problem.Solutions)
                        {
                            <polyline points="@solution.PointsAsString()"
                          style="fill: none; stroke: @problem.Color; stroke-width: 3" />
                        }
                    }
                }
                if (balls != null)
                {
                    foreach (var ball in balls)
                    {
                        if (ball.TableAbsolutePoint != null)
                        {
                            <circle cx="@ball.TableAbsolutePoint.X" cy="@ball.TableAbsolutePoint.Y"
                        r="@ballRadius" fill="@ball.Color" />
                        }
                    }
                }
            }
        </g>

        Sorry, your browser does not support inline SVG.
    </svg>
    @if (Busy)
    {
        <div class="spinner"></div>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.OpenFullscreen();
        await base.OnInitializedAsync();

    }

    bool Busy { get; set; } = false;
    long imageSize1 { get; set; }
    long imageSize2 { get; set; }
    long time { get; set; }
    long resizeTime { get; set; }
    long recognizeTime { get; set; }

    private async Task PictureTaken(InputFileChangeEventArgs e)
    {
        await JsRuntime.OpenFullscreen();

        if (Busy)
        {
            return;
        }
        try
        {
            DateTime now = DateTime.Now;
            Busy = true;
            imageSize1 = e.File.Size;
            IBrowserFile file;
            if (screenOrientation == ScreenOrientation.Landscape)
            {
                file = await e.File.RequestImageFileAsync(e.File.ContentType, VideoWidth, VideoHeight);
            }
            else
            {
                file = await e.File.RequestImageFileAsync(e.File.ContentType, VideoHeight, VideoWidth);
            }
            imageSize2 = file.Size;
            resizeTime = (long)(DateTime.Now - now).TotalMilliseconds;
            using var memoryStream = new MemoryStream();

            await file.OpenReadStream().CopyToAsync(memoryStream);
            byte[] bytes = memoryStream.ToArray();

            bool recognized = await RecognizeTable(Convert.ToBase64String(bytes));

            // bool recognized = await RecognizeTable(file);

            recognizeTime = (long)(DateTime.Now - now).TotalMilliseconds;

            if (recognized)
            {
                bool predicted = await MakePrediction();
            }
            time = (long)(DateTime.Now - now).TotalMilliseconds;
        }
        catch (Exception ex)
        {
            string message = ex.Message;
        }
        finally
        {
            Busy = false;
        }
    }

}